body, button, h1, html, p {
    margin: 0;
    padding: 0
}
img{border:0;}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: helvetica;
    background-color: #2b2b39;
    color: #c1c1c1;
    text-align: center;
}

section {
    width: 280px;
    margin: 20px auto;
}

.logo {
    height: 80px;
    width: 280px;
    background-size: 280px 80px;
    background: url(../images/logo.png) no-repeat center;
    text-align: center;
}


.ali_logo {
    height: 80px;
    width: 280px;
    background-size: 280px 80px;
    background: url(../images/ali10.png) no-repeat center;
    text-align: center;
}

.cash_logo {
    height: 120px;
    width: 240px;
    border: none;
    padding: 0;
    margin: 0;
    /*background-size: 280px 80px;*/
    background: url(../images/cash_logo.png) no-repeat top;
}

.main {
    margin: 20px auto auto;
    padding: 17px;
    width: 18em;
    /*color: #40404c;*/
    color: #c1c1c1;
    font-size: 13px;
    line-height: 1.4;
    border-radius: 5px;
    border-style: dotted;
    /*background-color: rgba(255, 255, 255, .5)*/
}

.choices {
    margin: 20px auto auto;
    padding: 17px;
    width: 18em;
    /*color: #40404c;*/
    color: #c1c1c1;
    font-size: 13px;
    line-height: 1.4;
    border-radius: 5px;
    border-style: dotted;
    /*background-color: rgba(255, 255, 255, .5)*/
}

.answer_text {
    margin: 20px auto auto;
    padding: 17px;
    width: 18em;
    /*color: #40404c;*/
    color: #c1c1c1;
    font-size: 13px;
    line-height: 1.4;
    border-radius: 5px;
    border-style: dotted;
    /*background-color: rgba(255, 255, 255, .5)*/
}

.start_btn {
    width: 280px;
    height: 80px;
    border: none;
    background: transparent url(../images/start_btn.png) no-repeat center;
}

.answer_btn {
    width: 280px;
    height: 80px;
    border: none;
    background: transparent url(../images/answer_btn.png) no-repeat center;
}

.share_btn {
    width: 80px;
    height: 80px;
    border: none;
    background: transparent url(../images/share_btn.png) no-repeat center;
}

.footer {
    font-size: 80%;
}

.description {
    font-size: 80%;
}

.choices button {
    width: 100%;
    height: 55px;
    background-color: transparent;
    font-size: 16px;
    color: white;
    text-align: left;
    border: none;
}

.choices button:active {
    border: dotted;
}

.choices button.selected {
    border: dotted 1px white;
}

.choices .span {
    width: 30px;
    height: 30px;
}